table {
    min-width: 75%;
    padding: .25rem;
    margin: auto;
    border: 2px solid rgb(158, 87, 87);
    justify-content: center;
}

th {
    padding: .20rem;
    border-bottom: 2px solid rgb(121, 121, 121);
}